<div id="login-container">

<form id="login-form">

    <input type="username" class="form-control" id="login-username-input" placeholder="username">
    <input type="password" class="form-control" id="login-password-input" placeholder="password">

    <button type="button" class="btn btn-danger" id="login-button">Sign up</button>

</form>

</div>