<div id="signup-container">

<form id="signup-form">

    <input type="email" class="form-control" id="signup-email-input" placeholder="email">
    <input type="username" class="form-control" id="signup-username-input" placeholder="username">
    <input type="password" class="form-control" id="signup-password-input" placeholder="password">

    <button type="button" class="btn btn-danger" id="signup-button">Sign up</button>
    
</form>

</div>